---
import '../styles/global.css'
import Layout from '../layouts/Layout.astro';
---

<Layout titre="Accueil">

<section class="bg-gray-50 py-20">
  <div class="max-w-7xl mx-auto px-6 text-center">

    <h1 class="text-4xl md:text-5xl font-extrabold text-gray-900">
      Trouvez votre
      <span class="text-blue-600">bien idéal</span>
    </h1>

    <p class="mt-6 text-lg text-gray-600 max-w-2xl mx-auto">
      Découvrez nos biens immobiliers sélectionnés avec soin
      pour répondre à tous vos projets.
    </p>

  </div>
</section>



</Layout>
